{% extends "base.html" %}

{% block title %}
  Bookings
{% endblock title %}

{% block body %}

<div class="container mt-5 p-5 ">
  <div class="row">
    <div class="col-md-7">
      <div class="card" style="width: 28rem;">
        <img src="static/doc3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">xPatientCare</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <br>
      <h4 class="text-center text-bg-success rounded"><span class="badge">Book Appointment</span></h4>
      <br>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form class="row g-3" action="/bookings" method="post">
        <div class="col-12">
          <div class="col-md-6">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Dr, Engr, Mr, Mrs" name="title">
          </div>
        </div>
        <div class="col-12">
          <label for="first_name" class="form-label">First name</label>
          <input type="text" class="form-control" id="first_name" name="first_name">
        </div>
        <div class="col-12">
          <label for="middle_name" class="form-label">Middle name</label>
          <input type="text" class="form-control" id="middle_name" name="middle_name">
        </div>
        <div class="col-12">
          <label for="last_name" class="form-label">Last name</label>
          <input type="text" class="form-control" id="last_name" name="last_name">
        </div>
        <div class="col-12">
          <label for="gender" class="form-label">Gender</label>
          <select id="gender" class="form-select" name="gender">
            <option selected>Choose Gender</option>
            <option>Male</option>
            <option>Female</option>
            <option>Others</option>
          </select>
        </div>
        <div class="col-12">
          <label for="user_id" class="form-label">User ID</label>
          <input type="number" class="form-control" id="user_id" placeholder="+234" name="user_id" value="{{current_user.id}}">
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" value="{{current_user.email}}" name="email">
        </div>
        <div class="col-12">
          <label for="number" class="form-label">Phone Number</label>
          <input type="number" class="form-control" id="number" placeholder="+234" name="number">
        </div>
        <div class="col-12">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main Street" name="address">
        </div>
        <div class="col-12">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" name="city">
        </div>
        <div class="col-12">
          <label for="state" class="form-label">State</label>
          <select id="state" class="form-select" name="state" required>
            <option selected>Choose State</option>
            <option>Abuja</option>
            <option>Anambra</option>
            <option>Lagos</option>
            <option>Sokoto</option>
          </select>
        </div>
        <div class="col-12">
          <label for="hospital" class="form-label">Hospital</label>
          <select id="hospital" class="form-select" name="hospital" required>
            <option selected>Choose Hospital</option>
            <option>National Hospital Abuja</option>
            <option>Usmanu Danfodiyo University Teaching Hospital, Sokoto</option>
          </select>
        </div>
        <div class="col-12">
          <label for="department" class="form-label">Department</label>
          <select id="department" class="form-select" name="department" required>
            <option selected>Choose Department</option>
            <option>Emergency</option>
            <option>Pediatric</option>
            <option>Pharmacy</option>
            <option>Laboratory</option>
          </select>
        </div>
        <div class="col-12">
          <label for="date" class="form-label">Date</label>
          <input type="date" class="form-control" id="date" name="date" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="time" class="form-label">Time</label>
          <input type="time" class="form-control" id="time" placeholder="1234 Main St" name="time">
        </div>
        <div class="col-12">
          <label for="reasons" class="form-label">Reasons</label>
          <textarea class="form-control" id="reasons" rows="3" name="reason" placeholder="Briefly write your complains here."></textarea>
          <div id="reasons" class="form-text">We'll never share your details with anyone else.</div>
        </div>
        <div class="col-12 d-grid gap-2 mb-3 mt-3">
          <button class="btn btn-success" type="submit">Book Appointment</button>
        </div>
      </form>
    </div>
    </div>
  </div>

</div>
{% endblock body %}