{% extends "base.html" %}

{% block title %}
  {{current_user.name}}
{% endblock title %}

{% block body %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
<div class="card text-bg-light">
  <h5 class="card-header">Profile Details</h5>
  <div class="card-body">
    <h5 class="card-title">User ID: {{user.id}}</h5>
    <div class="row">
      <div class="col-md-3">
        <p class="card-text"><strong>First Name: </strong>{{user.first_name}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Middle Name: </strong>{{user.middle_name}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Last Name: </strong>{{user.last_name}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Title: </strong>{{user.title}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="card-text"><strong>Date of Birth: </strong>{{user.date_of_birth}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Gender: </strong>{{user.gender}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Contact Number: </strong>{{user.contact_number}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Email: </strong>{{user.email}}</p>
      </div>

    </div> 
    <div class="row">
      <div class="col-12">
        <p class="card-text"><strong>Address: </strong>{{user.address}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="card-text"><strong>Emergency Contact Name: </strong>{{user.emergency_contact_name}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Emergency Contact No: </strong>{{user.emergency_contact_number}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Medical History: </strong>{{user.medical_history}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Allergies: </strong>{{user.allergies}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="card-text"><strong>Role: </strong>{{user.user_role}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Created: </strong>{{user.created_at}}</p>
      </div>
      <div class="col-md-3">
        <p class="card-text"><strong>Last Updated: </strong>{{user.updated_at}}</p>
      </div>
      <div class="col-md-3"></div>
    </div>
    <a href="/profile/update/{{user.id}}" class="btn btn-success mt-3">Update profile</a>
    <a href="/profile/update/role/{{user.id}}" class="btn btn-primary mt-3">Become a professional</a>
  </div>
</div>
{% endblock body %}